<app-menu></app-menu>

<div class="container text-center">
  <div *ngIf="isLogged else loggedOut"> <h2>Bienvenido {{userName}}</h2></div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown button
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <ng-template #loggedOut>
    <h2>No has iniciado sesión</h2>
  </ng-template>
</div>
